:root {
  --main-bg-color: #804e2d;
  --text-color:#f5e6dc;
}



App {
  text-align: center;
  font-family: Kavoon,cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.army-app{
  display: flex;
  justify-content: space-between
}

.left, .right{
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding:0.5em;
  margin:0.5em;

}

.army-app>.left{
  flex:7;
}

.army-app>.right{
  flex:1;
}

.unit{
  background-color: var(--text-color);
  color:black;
  display:flex;
  justify-content: space-between;
  padding:1em;
  margin:0.5em;
  border-radius: 5px;

}